<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level [%-22thread] [%-20class{0}] - %-75message @%logger %n</pattern>
		</encoder>
	</appender>

	<logger name="net.nlacombe.vault.vaultws" level="debug"/>
	<logger name="net.nlacombe.wsutils" level="debug"/>

	<root level="warn">
		<appender-ref ref="consoleLog"/>
	</root>
</configuration>
